.vim/.netrwhist
.vim/plugged
*.swp
*.swo
.vim/sessions/
.vim/tmp/
.clojure/.cpcache
.config/kak/autoload/rc
.config/kak/plugins
.config/nvim/plugin/packer_compiled.lua
.config/nvim/pynvim/
.config/lite-xl/plugins
.config/lite-xl/lixling
.config/lite-xl/session.lua
.config/lite-xl/ws
.config/lite-xl/libraries
.config/lite-xl/ltreesitter.so
.config/lite-xl/fonts/
.config/awesome/wallpaper
.textadept/session*
